@using IsucorpTest.Language
<div class="modal fade" id="clientErors" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"> @Common.Errors <span class=""> </span></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger div-margin-top">
                    <strong>@Common.Errors!</strong> @Common.ErrorsMessage
                </div>               
                <div id="errorsSection" class="form-group div-margin-top">                   
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">@Common.Close</button>
            </div>
        </div>
    </div>
</div> 
