/* Set width on the form input elements since they're 100% wide by default */
.completeWidth {
    max-width: 100%;
}

.fullWidth {
    width: 100%
}

.footerColor {
    background-color: #e6f1fb;
}

.lessPadding{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.noPadding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.noBottomMargin{
    margin-bottom: 0px!important;
}

.noLeftRigthMargin {
    margin-left: 0px;
    margin-right: 0px;
}

.minHeight {
    min-height: 600px;
}
   
